
.anc {
    margin-right: 10px;
}
.anc1:link {
    color:whitesmoke;
    background-color: transparent;
    text-decoration: none;
}
.anc1:visited {
    color:whitesmoke;
    background-color: transparent;
    text-decoration: none;
}
.search-container {
    flex: auto;
    margin-left: 50px;
}
.toggle {
    margin-right: 20px;
}
