<mat-toolbar color="primary">
    <a class="anc1" routerLink="/">Buy/Sell Used Apple Devices</a>
    <div class="search-container">
            <input type="text" placeholder="Search.." name="search">
            <a mat-button type="submit">Submit</a>
    </div>
    <div class="spacer"></div>
    <div *ngIf="isLoggedIn()">
        <a mat-raised-button routerLink="create" color="accent" class="anc"> + Sell My Device</a>
        <a mat-raised-button routerLink="catalog" class="anc">Devices For Sale</a>
        <a mat-button routerLink="profile" class="anc">My Profile</a>
        <a mat-raised-button routerLink="logout" class="anc" (click)="logout()">Log Out</a>
    </div>
    <div *ngIf="!isLoggedIn()">
        <a mat-raised-button routerLink="login" class="anc">Log In</a>
        <a mat-raised-button routerLink="register" color="accent" class="anc">Register</a>
    </div>

</mat-toolbar>
<div class="toggle"align="right">
</div>
