<mat-toolbar color="primary">
    <a class="anc1" routerLink="home">Buy/Sell Used Apple Devices</a>
    <div class="search-container">
        <form action="/action_page.php">
            <input type="text" placeholder="Search.." name="search">
            <a mat-button type="submit">Submit</a>
        </form>
    </div>
    <div class="spacer"></div>
    <div *ngIf="isLoggedIn()">
        <a mat-raised-button routerLink="create" color="accent" class="anc"> + Sell My Device</a>
        <a mat-raised-button routerLink="catalog" class="anc">Devices For Sale</a>
        <a mat-raised-button routerLink="logout" class="anc" (click)="logout()">Log Out</a>
    </div>
    <mat-slide-toggle>Dark</mat-slide-toggle>
    <div *ngIf="!isLoggedIn()">
        <a mat-raised-button routerLink="login" class="anc">Log In</a>
        <a mat-raised-button routerLink="register" color="accent" class="anc">Register</a>
    </div>

</mat-toolbar>