
.anc {
    margin-right: 10px;
}
.anc1:link {
    color:whitesmoke;
    background-color: transparent;
    text-decoration: none;
}
.anc1:visited {
    color:whitesmoke;
    background-color: transparent;
    text-decoration: none;
}
mat-slide-toggle {
    margin-right: 20px;
    
}
.search-container {
    flex: 20px;
}

