<mat-toolbar color="primary">
    <a class="anc1" routerLink="/">Buy/Sell Used Apple Devices</a>
    <div class="search-container">
            <input type="text" placeholder="Search.." name="search">
            <a mat-button type="submit">Submit</a>
    </div>
    <ng-container *ngTemplateOutlet="isLoggedIn ? loggedInTemplate : loggedOutTemplate"></ng-container>
    <div class="spacer"></div>
    <ng-template #loggedInTemplate>
        <a mat-raised-button routerLink="create" color="accent" class="anc"> + Sell My Device</a>
        <a mat-raised-button routerLink="catalog" class="anc">Devices For Sale</a>
        <a mat-button routerLink="profile" class="anc">My Profile</a>
        <a mat-raised-button routerLink="logout" class="anc">Log Out</a>
    </ng-template>
    <ng-template #loggedOutTemplate>
        <a mat-raised-button routerLink="login" class="anc">Log In</a>
        <a mat-raised-button routerLink="register" color="accent" class="anc">Register</a>
    </ng-template>

</mat-toolbar>
<div class="toggle"align="right">
</div>
