<a mat-raised-button color="accent" routerLink="/catalog">All Listings</a>
<div class="details-div">
    <mat-card>
        <mat-form-field>
            <a mat-label>{{this.listing.device| uppercase}} {{this.listing.model | uppercase}} - {{this.listing.year}} year</a>
        </mat-form-field>
        <img class="imac-pic" mat-card-image src="{{this.listing.imageUrl}}">
        <mat-form-field>
            <a mat-label>{{this.listing.description}}</a>
        </mat-form-field>
        <mat-form-field>
            <a mat-label>Owner: {{this.listing.owner}}</a>
        </mat-form-field>
        <mat-form-field>
            <a mat-label>{{this.listing.price | currency:'BGN'}}</a>
        </mat-form-field>
        <a mat-raised-button color="primary" routerLink="/catalog">Back to All Listings</a>
    </mat-card>

</div>