<br>
<br>
<br>
<mat-card>
    <mat-card-title>Log In</mat-card-title>
    <mat-card-content>

        <form [formGroup]="loginForm" class="example-form" name="loginForm" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input type="email" class="example-form" formControlName="email" matInput placeholder="Enter Email"
                        required email>
                </mat-form-field>
            </div>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input type="password" class="form-control" formControlName="password" matInput
                    placeholder="Enter Password" required minlength="6">
            </mat-form-field>
            <div>
                <button mat-raised-button type="submit" [disabled]="loginForm.invalid" color="accent"
                    class="anc">Log In</button>
                <a mat-button routerLink="login" color="white" class="anc" routerLink="/register">Don't have an account?</a>

            </div>
        </form>


    </mat-card-content>
</mat-card>


<!--


<br>
<br>
<br>
<mat-card>
    <mat-card-title>Log In</mat-card-title>
    <br>
    <mat-card-content>
        <form [formGroup]="loginForm" class="example-form" name="loginForm">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label >Email</mat-label>
                <input matInput placeholder="Email" #emailcheck="ngModel" name="email" [(ngModel)]="email" required email>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Password</mat-label>
                <input type="password"matInput placeholder="Password" name="password" [(ngModel)]="password" required minlength="6">
            </mat-form-field>
        </form>
        <div *ngIf="emailcheck.invalid && (emailcheck.dirty || emailcheck.touched)" class="alert">
            <div *ngIf="emailcheck.errors?.['required']">
                Email is required.
            </div>
        </div>
        <div>
            <a mat-raised-button disabled="loginForm.invalid" color="accent" class="anc" (click)="login()">Log In</a>
            <a mat-button routerLink="register" color="white" class="anc" routerLink="/register">Don't have an account?</a>
        </div>
    </mat-card-content>
</mat-card>

-->