<br>
<br>
<mat-card>
    <mat-card-title>Create New Listing</mat-card-title>
    <mat-card-content>
        <form>
            <mat-form-field >
                <input type="text" matInput name="device" [(ngModel)]="device"  placeholder="Device" required>
            </mat-form-field>
            <mat-form-field >
                <input type="text" matInput name="model" [(ngModel)]="model"  placeholder="Model" required>
            </mat-form-field>
            <mat-form-field >
                <input type="number" matInput name="year" [(ngModel)]="year"  placeholder="Year" required>
            </mat-form-field>
            <mat-form-field >
                <input type="text" matInput name="imageUrl" [(ngModel)]="imageUrl"  placeholder="imageUrl" required>
            </mat-form-field>
            <mat-form-field >
                <input type="number" matInput name="price" [(ngModel)]="price"  placeholder="Price" required>
            </mat-form-field>
            <mat-form-field >
                <input type="text" matInput name="description" [(ngModel)]="description"  placeholder="Description - minimum 10 characters" required >
            </mat-form-field>
            <mat-form-field >
                <a mat-raised-button type="submit" color="accent" class="btn btn-primary" (click)="addListing()">Publish</a>
                &nbsp; &nbsp; &nbsp; &nbsp;
                <a mat-raised-button type="reset" class="btn btn-danger">Reset</a>
            </mat-form-field>
        </form>
