<a mat-raised-button color="accent" routerLink="/catalog">Back to All Listings</a>
<h1>My Items for Sale</h1>
<div class="right-align" *ngFor=" let item of itemsList">
    <mat-card *ngIf="currentUserEmail == item.owner">
        <img class="imac-pic" mat-card-image src="{{item.imageUrl}}" routerLink="{{item.id}}">
        <mat-card-actions>
            <a mat-button routerLink="{{item.id}}">{{item.device| uppercase}} {{item.model | uppercase}} - {{item.price | currency:'BGN'}}</a>
        </mat-card-actions>
            <a mat-label>{{item.year}}</a>
            <a mat-label>{{item.description}}</a>
            <a mat-raised-button color="primary" [routerLink]="['/edit-listing/'+ item.id]">Edit</a>
            <a mat-raised-button color="accent" (click)="deleteListing1(item)">Delete</a>
    </mat-card>
</div>
