<h1>Categories</h1>
<div class="main-div">
    <mat-card (click)="navigate()">
        <img mat-card-image routerLink="login" src="../assets/iphone.png">
        <mat-card-actions>
            <a mat-button>iPhones</a>
        </mat-card-actions>
    </mat-card>
    <mat-card (click)="navigate()">
        <img mat-card-image routerLink="login" src="../assets/ipad.jpeg">
        <mat-card-actions>
            <a mat-button>iPads</a>
        </mat-card-actions>
    </mat-card>
    <mat-card (click)="navigate()">
        <img class="imac-pic" mat-card-image routerLink="login" src="../assets/imac.jpg">
        <mat-card-actions>
            <a mat-button>iMacs</a>
        </mat-card-actions>
    </mat-card>
    <mat-card (click)="navigate()">
        <img mat-card-image routerLink="login" src="../assets/macpro.jpg">
        <mat-card-actions>
            <a mat-button>MacPro computers</a>
        </mat-card-actions>
    </mat-card>
    <mat-card (click)="navigate()">
        <img mat-card-image routerLink="login" src="../assets/macbook.png">
        <mat-card-actions>
            <a mat-button>MacBooks</a>
        </mat-card-actions>
    </mat-card>
</div>
